{% extends 'base.html' %}
{% block title %}Czasomierz - Strona logowania{% endblock title %}
{% block content %}
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 p-3 bg-dark text-white">Panel logowania</div>
    </div><br>
    <form method="post">
        {% csrf_token %}
        <div class="row mb-3 align-items-center">
            <div class="col-sm-3"></div>
            <div class="col-sm-2"><label for="{{ form.username.id_for_label }}"> {{ form.username.label }}</label></div>
            <div class="col-sm-4">{{ form.username }}</div>
        </div>
        <br>
        <div class="row mb-3 align-items-center">
            <div class="col-sm-3"></div>
            <div class="col-sm-2"><label>{{ form.password.label }}</label></div>
            <div class="col-sm-4">{{ form.password }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-1"><input type="submit" class="btn btn-dark" value="Zaloguj"></div>
        </div>
    </form>
    <br>
    <div class="row">
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <div class="col-sm-3"></div>
            <p class="text-danger col-sm-2">{{ error }}</p>
        {% endfor %}
    {% endif %}
    </div>
    <hr>
    <div class="row">
    <p class="col-sm-4"></p>
    <p class="col-sm-4">Aby utworzyć nowe konto, Kliknij tutaj <a href="{% url 'register' %}" class="btn btn-secondary">Rejestracja</a></p>
    </div>

{% endblock content %}