{% extends 'base.html' %}
{% block title %}Czasomierz - Zakończenie pracy{% endblock title %}
{% block button1 %}Witaj, {{ greeting }}{% endblock button1 %}
{% block button2 %}<a href="{% url 'logout' %}" class="btn btn-light">Wyloguj</a>{% endblock button2 %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="alert alert-danger">Czy na pewno Chcesz usunąć wybrany rekord "{{ object.start_time }}"?</div>
        <div class="row">
            <div class="col-sm-2"><input type="submit" class="btn btn-dark" value="Potwierdź"></div>
            <div class="col-sm-1"><a href="{% url 'worklog' %}" class="btn btn-secondary">Anuluj</a></div>
        </div>
    </form>
{% endblock content %}