{% extends 'base.html' %}
{% block title %}Czasomierz - Zakończenie pracy{% endblock title %}
{% block button1 %}Witaj, {{ greeting }}{% endblock button1 %}
{% block button2 %}<a href="{% url 'logout' %}" class="btn btn-light">Wyloguj</a>{% endblock button2 %}

{% block content %}
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 p-3 bg-dark text-white">Zakończenie pracy</div>
    </div><br>
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-3">{{ form.as_p }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-2"><input type="submit" class="btn btn-dark" value="Zarejestruj czas"></div>
            <div class="col-sm-1"><a href="{% url 'worklog' %}" class="btn btn-secondary">Anuluj</a></div>
        </div>
    </form>

    <div class="row">
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="col-sm-3"></div>
                <p class="text-danger col-sm-2">{{ error }}</p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}