{% extends 'base.html' %}
{% block title %}Czasomierz - Akceptacja{% endblock title %}
{% block button1 %}Witaj, {{ greeting }}{% endblock button1 %}
{% block button2 %}<a href="{% url 'logout' %}" class="btn btn-light">Wyloguj</a>{% endblock button2 %}

{% block content %}
    <div class="alert alert-success">
        Pomyślnie zaakceptowano przesłany wniosek.</a>
    </div>
    <div class="row">
        <div class="col-sm-1"><a href="{% url 'worklog' %}" class="btn btn-secondary">Powrót</a></div>
    </div>
{% endblock content %}