{% extends 'base.html' %}
{% block title %}Czasomierz - Raport czasu pracy{% endblock title %}
{% block button1 %}Witaj, {{ greeting }}{% endblock button1 %}
{% block button2 %}<a href="{% url 'logout' %}" class="btn btn-light">Wyloguj</a>{% endblock button2 %}

{% block content %}
    <div class="container mt-3">
        <h3>Raport czasu pracy</h3>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Data rozpoczęcia</th>
                <th>Godzina rozpoczęcia</th>
                <th>Data zakończenia</th>
                <th>Godzina zakończenia</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                <td>{{ object.start_time.date }}</td>
                <td>{{ object.start_time.time }}</td>
                <td>{{ object.end_time.date }}</td>
                <td>{{ object.end_time.time }}</td>
            {% empty %}
                <p class="text-warning">Brak dostępnych danych dla wskazanego okresu</p>
            {% endfor %}
            </tr>
            </tbody>
        </table>
    <div class="row">
            <div class="col-sm-1"><a href="{% url 'worklog' %}" class="btn btn-secondary">Powrót</a></div>
        </div>
    </div>
{% endblock content %}