{% extends 'base.html' %}
{% block title %}Czasomierz - Wniosek o korektę czasu pracy{% endblock title %}
{% block button1 %}Witaj, {{ greeting }}{% endblock button1 %}
{% block button2 %}<a href="{% url 'logout' %}" class="btn btn-light">Wyloguj</a>{% endblock button2 %}
{% block menu %}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'worklog' %}">Czas pracy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Urlopy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Kalendarz</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock menu %}
{% block content %}
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-7 p-3 bg-dark text-white">Wniosek - korekta czasu pracy</div>
    </div><br>
    <form method="post">
        {% csrf_token %}
        <div class="row mb-3 align-items-center">
            <div class="col-sm-3"></div>
            <div class="col-sm-3"><label for="{{ form.date_field.id_for_label }}">{{ form.date_field.label }}</label>
            </div>
            <div class="col-sm-4">{{ form.date_field }}</div>
            {{ form.employee }}
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-2"><input type="submit" class="btn btn-dark" value="Wyszukaj rekord"></div>
            <div class="col-sm-1"><a href="{% url 'worklog' %}" class="btn btn-secondary">Anuluj</a></div>
        </div>
    </form>
{% endblock content %}