{% extends 'base.html' %}
{% block title %}Czasomierz - Zakończenie pracy{% endblock title %}
{% block button1 %}Witaj, {{ greeting }}{% endblock button1 %}
{% block button2 %}<a href="{% url 'logout' %}" class="btn btn-light">Wyloguj</a>{% endblock button2 %}
{% block menu %}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'worklog' %}">Czas pracy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'offworklog' %}">Urlopy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Kalendarz</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock menu %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="alert alert-danger">Czy na pewno Chcesz odrzucić wybrany wniosek?</div>
        <div class="row">
            <div class="col-sm-2"><input type="submit" class="btn btn-dark" value="Odrzuć"></div>
            <div class="col-sm-1"><a href="{% url 'worklog' %}" class="btn btn-secondary">Anuluj</a></div>
        </div>

    </form>
{% endblock content %}